<footer class="site-footer">

  <div class="wrap">
      <div class="col-1 column">
        <h2 class="footer-heading">{{ site.title }}</h2>
          <ul>
            <li>26Squared is mostly, me, Dan O'Neill but depending on workload I work with a select number of excellent freelance designers and developers.</li>
              <li>
                <a href="mailto:{{ site.email }}"><span class="icon github"><svg class="github-icon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" x="0px" y="0px" viewBox="0 0 16 16">
<g id="icomoon-ignore">
	<line stroke-width="1" x1="" y1="" x2="" y2="" stroke="#449FDB" opacity=""></line>
</g>
	<path d="M13.333 0h-10.666c-1.467 0-2.667 1.2-2.667 2.667v10.666c0 1.467 1.2 2.667 2.667 2.667h10.666c1.468 0 2.667-1.2 2.667-2.667v-10.666c0-1.467-1.199-2.667-2.667-2.667zM4 4h8c0.143 0 0.281 0.031 0.409 0.088l-4.409 5.143-4.409-5.143c0.127-0.058 0.266-0.088 0.409-0.088zM3 11v-6c0-0.021 0.001-0.042 0.002-0.063l2.932 3.421-2.9 2.9c-0.023-0.083-0.034-0.17-0.034-0.258zM12 12h-8c-0.088 0-0.175-0.012-0.258-0.034l2.846-2.846 1.413 1.648 1.413-1.648 2.846 2.846c-0.083 0.023-0.17 0.034-0.258 0.034zM13 11c0 0.088-0.012 0.175-0.034 0.258l-2.9-2.9 2.932-3.421c0.001 0.021 0.002 0.042 0.002 0.063v6z" fill="#cccccc"></path>
</svg></span>
                <span class="username">{{ site.email }}</span></a>
              </li>
            <li>
                <a href="https://github.com/n3tfl0w">
                    <span class="icon github">
                        <svg version="1.1" class="github-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#C2C2C2" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761
                        c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32
                        c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472
                        c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037
                        C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65
                        c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261
                        c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082
                        c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129
                        c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
                        </svg>
                    </span>
                    <span class="username">Github Profile</span>
                </a>
            </li>
          </ul>
        </div>

    <div class="col-2 column">
        <h2 class="footer-heading">Acknowledgments</h2>
        <p class="text">In most cases, the content and images are mine. However, the icons I use in the services section above are a set of icons created for <a href="http://www.smashingmagazine.com/2014/11/06/freebie-boldons-icon-set-45-icons-png-ai/">Smashing Magazine</a> by Amie Andrews and the creative minds behind <a href="http://www.whoishostingthis.com/">Whoishostingthis</a>.</p>
    </div>

    <div class="col-3 column">
        <h2 class="footer-heading">Further Acknowledgments</h2>
        <p>That striking image from the contact me section is By Ales Krivec from <a href="http://unsplash.com">Unsplash</a>.</p>
        <p>I created the terminal at the top of the page in HTML and CSS, inspired by this <a href="http://www.codechewing.com/library/mac-terminal-shell-css-html/">article</a>. The site perspectives were also created in css using this <a href="http://thecodeplayer.com/walkthrough/perspective-mockups-css3-3d-transforms">excellent code walkthrough</a>.</p>
    </div>

  </div>

</footer>
