<div class="page-content servo">
    <div class="wrap">
        <h2>Cost effective, responsive, and standards driven web development to help you reach your business goals</h2>
        <span class="trip_imgs">
            <img src='../images/box.png'/>
            <img src='../images/football.png'/>
            <img src='../images/heart.png'/>
        </span>
        <h3 class="col-heading">CMS theme development, modification, or site maintenance</h3>
        <p>Whether you want to build a custom Wordpress theme, a custom Perch theme, a simple static site, or you just need minor edits to a theme that you've already bought, we can work out a solution that meets your needs.</p>
        <span class="trip_imgs">
            <img src='../images/laptop.png'/>
            <img src='../images/letter.png'/>
            <img src='../images/like.png'/>
        </span>
        <h3 class="col-heading">Cost effective solutions custom tailored for you</h3>
        <p>Being a tiny studio gives us flexibility. That flexibility allows to tailor solutions specifically for you so we have the ability to match your budgetary, time, and any other requirements you might have.</p>
        <span class="trip_imgs">
            <img src='../images/match.png'/>
            <img src='../images/pencil.png'/>
            <img src='../images/printer.png'/>
        </span>
        <h3 class="col-heading">Sites that are Desktop, Tablet, and Smartphone friendly</h3>
        <p>It's really important that your site functions on all types of screen sizes - so responsive development is an area that we spend a lot of time on. We focus on getting the right content on the right screens for your users. </p>
    </div>
</div>