<div class="page-content porto">
    <div class="grid grid-pad">
        <div class="col-1-2 portotext">
            <h2>Held Design</h2>
            <hr /> 
            <p>"Avast!" roared Ahab, dashing him against the bulwarks&mdash;"Man the boat! Which way heading?"</p>
            <p>"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.&mdash;Is your Captain crazy?" whispering Fedallah.</p>

            <p>But Fedallah, putting a finger on his lip, slid over the bulwarks to take the boat's steering oar, and Ahab, swinging the cutting-tackle towards him, commanded the ship's sailors to stand by to lower.</p>

            <p>In a moment he was standing in the boat's stern, and the Manilla men were springing to their oars. In vain the English Captain hailed him. With back to the stranger ship, and face set like a flint to his own, Ahab stood upright till alongside of the Pequod.</p>
        </div>
        <div class="col-1-2 protoimg">
            <ul class="gridly" sstyle="background-image:url('/images/HeldDesign.jpg')">
                <li class="one"><span class="s"></span></li>
                <li class="two"><span class="s"></span></li>
                <li class="three"><span class="s"></span></li>
                <li class="four"><span class="s"></span></li>
            </ul>
        </div>
    </div>
    <div class="grid grid-pad">
        <div class="col-1-2 portoimg" style="background-image:url('/images/wam.jpg')">
        </div>
        <div class="col-1-2 portotext">
            <h2>Words and Magic</h2>
            <hr />
            <p>"Avast!" roared Ahab, dashing him against the bulwarks&mdash;"Man the boat! Which way heading?"</p>
            <p>"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.&mdash;Is your Captain crazy?" whispering Fedallah.</p>

            <p>But Fedallah, putting a finger on his lip, slid over the bulwarks to take the boat's steering oar, and Ahab, swinging the cutting-tackle towards him, commanded the ship's sailors to stand by to lower.</p>

            <p>In a moment he was standing in the boat's stern, and the Manilla men were springing to their oars. In vain the English Captain hailed him. With back to the stranger ship, and face set like a flint to his own, Ahab stood upright till alongside of the Pequod.</p>
        </div>
    </div>
    <div class="grid grid-pad">
        <div class="col-1-2 portotext">
            <h2>Pressline</h2>
            <hr />
            <p>"Avast!" roared Ahab, dashing him against the bulwarks&mdash;"Man the boat! Which way heading?"</p>
            <p>"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.&mdash;Is your Captain crazy?" whispering Fedallah.</p>

            <p>But Fedallah, putting a finger on his lip, slid over the bulwarks to take the boat's steering oar, and Ahab, swinging the cutting-tackle towards him, commanded the ship's sailors to stand by to lower.</p>

            <p>In a moment he was standing in the boat's stern, and the Manilla men were springing to their oars. In vain the English Captain hailed him. With back to the stranger ship, and face set like a flint to his own, Ahab stood upright till alongside of the Pequod.</p>
        </div>
        <div class="col-1-2 portoimg" style="background-image:url('/images/Pressline.png')">
        </div>
    </div>
    <div class="grid grid-pad">
        <div class="col-1-2 portoimg" style="background-image:url('/images/CIBSEIreland.png')">
        </div>
        <div class="col-1-2 portotext">
            <h2>CIBSE Ireland</h2>
            <hr />
            <p>"Avast!" roared Ahab, dashing him against the bulwarks&mdash;"Man the boat! Which way heading?"</p>
            <p>"Good God!" cried the English Captain, to whom the question was put. "What's the matter? He was heading east, I think.&mdash;Is your Captain crazy?" whispering Fedallah.</p>

            <p>But Fedallah, putting a finger on his lip, slid over the bulwarks to take the boat's steering oar, and Ahab, swinging the cutting-tackle towards him, commanded the ship's sailors to stand by to lower.</p>

            <p>In a moment he was standing in the boat's stern, and the Manilla men were springing to their oars. In vain the English Captain hailed him. With back to the stranger ship, and face set like a flint to his own, Ahab stood upright till alongside of the Pequod.</p>
        </div>
    </div>
    <div class="wrap">
    </div>
</div>